# 忽略所有文件和目录
*

# 保留特定的文件
!Understanding Analysis 习题草稿.md
!Understanding Analysis 习题解答.md
!README.md
!style.less
!01_Understanding Analysis 习题解答 第一章.md
!02_Understanding Analysis 习题解答 第二章.md
!03_Understanding Analysis 习题解答 第三章.md
!04_Understanding Analysis 习题解答 第四章.md
!05_Understanding Analysis 习题解答 第五章.md
!06_Understanding Analysis 习题解答 第六章.md
!07_Understanding Analysis 习题解答 第七章.md


# 保留 .gitignore 文件自身
!.gitignore
